# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_key import google_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [4]:
# Load city data into DataFrame from WeatherPy
cityweather_df = "../WeatherPy/Output/cityweather.csv"

# Convert 
cityweather_df = pd.read_csv(cityweather_df)

cityweather_df

,City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Max Temperature,Wind Speed
0,Jamestown,100,US,2022-02-12 05:29:42,69,42.0970,-79.2353,40.08,11.50
1,Sol'vychegodsk,100,RU,2022-02-12 05:29:42,97,61.3305,46.9156,16.32,4.29
2,Aswān,0,EG,2022-02-12 05:29:43,72,24.0934,32.9070,51.12,11.03
3,Saskylakh,76,RU,2022-02-12 05:27:23,82,71.9167,114.0833,1.90,12.97
4,Lagoa,95,PT,2022-02-12 05:29:43,80,39.0500,-27.9833,59.29,17.56
...,...,...,...,...,...,...,...,...,...
545,Chengzhong,100,CN,2022-02-12 05:33:50,80,30.9500,113.5500,44.65,8.81
546,Pacifica,20,US,2022-02-12 05:33:13,65,37.6138,-122.4869,64.83,10.36
547,Ballina,75,AU,2022-02-12 05:33:51,75,-28.8667,153.5667,73.44,12.66
548,Nizwá,0,OM,2022-02-12 05:33:51,38,22.9333,57.5333,70.30,3.33
549,Wilmington,0,US,2022-02-12 05:32:55,76,34.2257,-77.9447,54.86,0.00

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [44]:
# Configure gmaps with API key
gmaps.configure(api_key = google_key)

# Store latitude and longitude into locations
locations = cityweather_df[["Latitude", "Longitude"]]

# Store humidity
humidity = cityweather_df['Humidity']

# Customize the size of the figure
figure_layout = {
    'width': '400px',
    'height': '300px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'}

# Create figure with layout specifications
fig = gmaps.figure(layout = figure_layout)

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, 
                                 dissipating = False, max_intensity = 100,
                                 point_radius = 1)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='300px', margin='0 auto 0 auto', padding='1px', wi…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure