# WeatherPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import json
from scipy.stats import linregress

# Import API key
from config import api_key

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
output_data_file = "output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

## Generate Cities List

In [2]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []

# Create a set of random lat and lng combinations
lats = np.random.uniform(lat_range[0], lat_range[1], size=1500)
lngs = np.random.uniform(lng_range[0], lng_range[1], size=1500)
lat_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)

# Print the city count to confirm sufficient count
len(cities)

586

### Perform API Calls
* Perform a weather check on each city using a series of successive API calls.
* Include a print log of each city as it'sbeing processed (with the city number and city name).

In [3]:
# Set variables for base url and units
url = "http://api.openweathermap.org/data/2.5/weather?"
units = "imperial"

# Setup URL query using the base url, api key, and units
query_url = f"{url}appid={api_key}&units={units}&q="

# Create lists to hold relevant data
city_list = []
cloudiness_list = []
country_list = []
date_list = []
humidity_list = []
latitude_list = []
longitude_list = []
maxtemperature_list = []
windspeed_list = []

# City counter for loop
citycounter = 0

# Print header for data retrieval
print("Retrieving data...")
print("------------------")

# Loop through list of cities
for eachcity in cities:
    
    # Perform a get request for each city and store json response in a variable
    jsonresponse = requests.get(query_url + eachcity).json()
    
    # Handle errors for cities with missing data
    try:
        
        # Retrieve specific data and append to relevant list
        # City
        city = jsonresponse['name']
        city_list.append(city)
        # Cloudiness
        cloudiness = jsonresponse['clouds']['all']
        cloudiness_list.append(cloudiness)
        # Country
        country = jsonresponse['sys']['country']
        country_list.append(country)
        # Data
        date = jsonresponse["dt"]
        date_list.append(date)
        # Humidity
        humidity = jsonresponse['main']['humidity']
        humidity_list.append(humidity)
        # Latitude
        latitude = jsonresponse['coord']['lat']
        latitude_list.append(latitude)
        # Longitude
        longitude = jsonresponse['coord']['lon']
        longitude_list.append(longitude)
        # Max temperature
        maxtemperature = jsonresponse['main']['temp_max']
        maxtemperature_list.append(maxtemperature)
        # Wind speed
        windspeed = jsonresponse['wind']['speed']
        windspeed_list.append(windspeed)
        
        # Track city count
        citycounter = citycounter + 1
        
        # Print log of each city
        print(f"City number {citycounter} is named {eachcity}.")
    
    except:
        # If the city is missing data, print different log and move to next city
        print('The data is incomplete for this city. Moving to next city...')
        pass

print("----------------------------")
print("City data retrieval complete")

Retrieving data...
------------------
City number 1 is named jamestown.
City number 2 is named sechura.
City number 3 is named marsh harbour.
City number 4 is named kodiak.
City number 5 is named katsuura.
City number 6 is named nikolskoye.
City number 7 is named troitsko-pechorsk.
City number 8 is named arman.
City number 9 is named chicama.
City number 10 is named srednekolymsk.
City number 11 is named klaksvik.
City number 12 is named billere.
City number 13 is named talaya.
City number 14 is named busselton.
City number 15 is named cape town.
City number 16 is named punta arenas.
City number 17 is named mataura.
City number 18 is named kavieng.
City number 19 is named khatanga.
City number 20 is named salalah.
City number 21 is named hilo.
City number 22 is named ponta do sol.
City number 23 is named victoria.
City number 24 is named asau.
City number 25 is named faanui.
City number 26 is named rio de janeiro.
The data is incomplete for this city. Moving to next city...
City number 27 is named qaanaaq.
City number 28 is named baghdad.
City number 29 is named ushuaia.
City number 30 is named hobart.
City number 31 is named vaini.
City number 32 is named antofagasta.
City number 33 is named inverell.
The data is incomplete for this city. Moving to next city...
City number 34 is named port hedland.
City number 35 is named torbay.
City number 36 is named luderitz.
City number 37 is named boden.
City number 38 is named lebu.
City number 39 is named arraial do cabo.
City number 40 is named saint-philippe.
City number 41 is named mogadishu.
City number 42 is named kargasok.
City number 43 is named los llanos de aridane.
City number 44 is named kununurra.
City number 45 is named karratha.
City number 46 is named port alfred.
City number 47 is named vila franca do campo.
City number 48 is named abbeville.
City number 49 is named bengkulu.
City number 50 is named albany.
City number 51 is named erzin.
City number 52 is named rikitea.
City number 53 is named artsyz.
City number 54 is named huancavelica.
City number 55 is named nagato.
City number 56 is named pisco.
City number 57 is named longyearbyen.
City number 58 is named georgetown.
City number 59 is named sao joao da barra.
City number 60 is named chuy.
City number 61 is named yellowknife.
City number 62 is named kaduqli.
City number 63 is named carnarvon.
City number 64 is named seoul.
City number 65 is named cherskiy.
City number 66 is named bumba.
City number 67 is named ampanihy.
City number 68 is named payakumbuh.
City number 69 is named hokitika.
City number 70 is named avarua.
City number 71 is named pirgos.
City number 72 is named roebourne.
The data is incomplete for this city. Moving to next city...
City number 73 is named barrow.
City number 74 is named hithadhoo.
City number 75 is named leningradskiy.
The data is incomplete for this city. Moving to next city...
City number 76 is named kapaa.
City number 77 is named alofi.
City number 78 is named ancud.
City number 79 is named iqaluit.
City number 80 is named hermanus.
City number 81 is named kaitangata.
City number 82 is named guerrero negro.
City number 83 is named triolet.
The data is incomplete for this city. Moving to next city...
City number 84 is named batemans bay.
City number 85 is named divnomorskoye.
City number 86 is named ossora.
City number 87 is named puerto ayora.
City number 88 is named tadine.
The data is incomplete for this city. Moving to next city...
The data is incomplete for this city. Moving to next city...
City number 89 is named thompson.
The data is incomplete for this city. Moving to next city...
The data is incomplete for this city. Moving to next city...
City number 90 is named tral.
City number 91 is named villa maria.
City number 92 is named ishigaki.
City number 93 is named bethel.
City number 94 is named cidreira.
City number 95 is named kloulklubed.
City number 96 is named newburn.
City number 97 is named tuktoyaktuk.
City number 98 is named labuhan.
City number 99 is named lagoa.
City number 100 is named mbini.
The data is incomplete for this city. Moving to next city...
City number 101 is named mandera.
City number 102 is named tual.
City number 103 is named bredasdorp.
City number 104 is named chokurdakh.
City number 105 is named hingatungan.
City number 106 is named kamaishi.
The data is incomplete for this city. Moving to next city...
City number 107 is named xuddur.
City number 108 is named tabou.
City number 109 is named anadyr.
The data is incomplete for this city. Moving to next city...
City number 110 is named mahajanga.
City number 111 is named dillon.
City number 112 is named butaritari.
City number 113 is named castro.
City number 114 is named faro.
City number 115 is named new norfolk.
City number 116 is named bilibino.
City number 117 is named jashpurnagar.
City number 118 is named tiruchchendur.
City number 119 is named zaria.
City number 120 is named provideniya.
City number 121 is named henties bay.
City number 122 is named rafiganj.
City number 123 is named dikson.
City number 124 is named upernavik.
City number 125 is named touros.
City number 126 is named damme.
City number 127 is named mahebourg.
City number 128 is named severo-kurilsk.
City number 129 is named asfi.
City number 130 is named whitehorse.
City number 131 is named atuona.
City number 132 is named maningrida.
City number 133 is named bubaque.
City number 134 is named yar-sale.
City number 135 is named lamu.
City number 136 is named irondequoit.
City number 137 is named bahia blanca.
City number 138 is named biltine.
City number 139 is named laguna.
City number 140 is named port elizabeth.
City number 141 is named kadyy.
City number 142 is named paamiut.
The data is incomplete for this city. Moving to next city...
City number 143 is named tasiilaq.
The data is incomplete for this city. Moving to next city...
City number 144 is named pevek.
City number 145 is named prince george.
City number 146 is named lujan.
City number 147 is named yulara.
The data is incomplete for this city. Moving to next city...
City number 148 is named san patricio.
The data is incomplete for this city. Moving to next city...
City number 149 is named kutum.
City number 150 is named rawson.
City number 151 is named nizhniy kuranakh.
City number 152 is named colares.
City number 153 is named narsaq.
City number 154 is named ust-kut.
City number 155 is named chake chake.
The data is incomplete for this city. Moving to next city...
City number 156 is named sam chuk.
City number 157 is named bambous virieux.
City number 158 is named fuyu.
City number 159 is named deputatskiy.
City number 160 is named nabire.
City number 161 is named pangnirtung.
City number 162 is named santa helena de goias.
City number 163 is named gat.
City number 164 is named conde.
City number 165 is named jiwani.
City number 166 is named lazaro cardenas.
City number 167 is named aklavik.
City number 168 is named porto walter.
The data is incomplete for this city. Moving to next city...
City number 169 is named sept-iles.
City number 170 is named bluff.
City number 171 is named bastia.
City number 172 is named sigli.
City number 173 is named halifax.
The data is incomplete for this city. Moving to next city...
City number 174 is named pingliang.
City number 175 is named geraldton.
City number 176 is named gouyave.
City number 177 is named poum.
City number 178 is named pouembout.
City number 179 is named wexford.
City number 180 is named east london.
City number 181 is named zhangjiakou.
City number 182 is named nuqui.
City number 183 is named sao filipe.
City number 184 is named constitucion.
City number 185 is named sitka.
City number 186 is named tucuma.
The data is incomplete for this city. Moving to next city...
City number 187 is named vestmannaeyjar.
City number 188 is named kolokani.
City number 189 is named portland.
City number 190 is named fairbanks.
City number 191 is named soyo.
City number 192 is named nantucket.
City number 193 is named sinnamary.
City number 194 is named batagay.
City number 195 is named lichinga.
City number 196 is named alice springs.
City number 197 is named victor harbor.
City number 198 is named carutapera.
City number 199 is named yerbogachen.
The data is incomplete for this city. Moving to next city...

City number 200 is named esperance.
City number 201 is named great bend.
City number 202 is named bukama.
City number 203 is named coos bay.
City number 204 is named chulym.
City number 205 is named placido de castro.
City number 206 is named fortuna.
City number 207 is named berlevag.
City number 208 is named alice.
City number 209 is named hami.
City number 210 is named balancan.
City number 211 is named mandan.
City number 212 is named tiksi.
City number 213 is named half moon bay.
City number 214 is named comodoro rivadavia.
City number 215 is named agadir.
City number 216 is named oktyabrskiy.
The data is incomplete for this city. Moving to next city...
City number 217 is named gambela.
City number 218 is named airai.
City number 219 is named ust-koksa.
City number 220 is named gbarnga.
City number 221 is named henderson.
City number 222 is named mamallapuram.
City number 223 is named pacific grove.
City number 224 is named chapais.
City number 225 is named karasuk.
City number 226 is named swan hill.
City number 227 is named nome.
City number 228 is named mar del plata.
City number 229 is named adrar.
City number 230 is named shelburne.
City number 231 is named jalu.
City number 232 is named lumby.
City number 233 is named the valley.
City number 234 is named arys.
City number 235 is named saskylakh.
City number 236 is named lorengau.
The data is incomplete for this city. Moving to next city...
City number 237 is named nouakchott.
City number 238 is named carpinteria.
City number 239 is named richards bay.
City number 240 is named calvinia.
City number 241 is named havoysund.
City number 242 is named dunedin.
The data is incomplete for this city. Moving to next city...
The data is incomplete for this city. Moving to next city...
City number 243 is named ouadda.
City number 244 is named esik.
City number 245 is named kiruna.
City number 246 is named bayshore gardens.
City number 247 is named ashland.
The data is incomplete for this city. Moving to next city...
City number 248 is named kijang.
City number 249 is named soc trang.
City number 250 is named povolzhskiy.
City number 251 is named kieta.
City number 252 is named cayenne.
City number 253 is named didao.
City number 254 is named korla.
City number 255 is named chama.
City number 256 is named leh.
City number 257 is named vao.
City number 258 is named plyussa.
City number 259 is named avera.
City number 260 is named shache.
City number 261 is named souillac.
City number 262 is named norman wells.
City number 263 is named kismayo.
City number 264 is named auki.
City number 265 is named burgeo.
City number 266 is named waiuku.
City number 267 is named meulaboh.
City number 268 is named altamont.
City number 269 is named simao.
City number 270 is named gorontalo.
City number 271 is named catamarca.
City number 272 is named salinopolis.
City number 273 is named sultepec.
The data is incomplete for this city. Moving to next city...
City number 274 is named shingu.
City number 275 is named lompoc.
City number 276 is named togur.
City number 277 is named saldanha.
City number 278 is named faxinal.
City number 279 is named sorland.
City number 280 is named riyadh.
City number 281 is named taoudenni.
City number 282 is named krasnoshchekovo.
City number 283 is named tuatapere.
City number 284 is named seymchan.
City number 285 is named coolum beach.
The data is incomplete for this city. Moving to next city...
City number 286 is named puerto quijarro.
City number 287 is named tondano.
City number 288 is named kuala lipis.
City number 289 is named pekan.
City number 290 is named leisure city.
City number 291 is named leshukonskoye.
City number 292 is named alta floresta.
City number 293 is named viransehir.
City number 294 is named nemuro.
City number 295 is named camacha.
City number 296 is named gravdal.
The data is incomplete for this city. Moving to next city...
City number 297 is named lander.
City number 298 is named itupiranga.
City number 299 is named samarai.
City number 300 is named caxito.
City number 301 is named marawi.
City number 302 is named general roca.
City number 303 is named nanortalik.
City number 304 is named clyde river.
City number 305 is named hamilton.
The data is incomplete for this city. Moving to next city...
City number 306 is named nelson bay.
City number 307 is named codrington.
City number 308 is named riberalta.
City number 309 is named ketchikan.
City number 310 is named havre-saint-pierre.
City number 311 is named prachuap khiri khan.
City number 312 is named umm kaddadah.
City number 313 is named lazurne.
City number 314 is named ilulissat.
City number 315 is named ulaanbaatar.
City number 316 is named hambantota.
The data is incomplete for this city. Moving to next city...
City number 317 is named ugoofaaru.
City number 318 is named wasilla.
City number 319 is named hasaki.
City number 320 is named zhigansk.
City number 321 is named margate.
The data is incomplete for this city. Moving to next city...
City number 322 is named sao paulo de olivenca.
City number 323 is named krasnoselkup.
City number 324 is named beringovskiy.
City number 325 is named asasa.
City number 326 is named lodja.
City number 327 is named amahai.
City number 328 is named road town.
City number 329 is named contamana.
City number 330 is named chaoyang.
City number 331 is named skjervoy.
City number 332 is named conceicao da barra.
City number 333 is named te anau.
The data is incomplete for this city. Moving to next city...
City number 334 is named wangqing.
City number 335 is named pyay.
City number 336 is named garowe.
City number 337 is named alubaren.
City number 338 is named cacoal.
City number 339 is named talara.
City number 340 is named dingle.
City number 341 is named cacu.
The data is incomplete for this city. Moving to next city...
The data is incomplete for this city. Moving to next city...
City number 342 is named vanavara.
City number 343 is named golden.
City number 344 is named palora.
City number 345 is named kruisfontein.
City number 346 is named imbituba.
City number 347 is named moorhead.
City number 348 is named sesheke.
City number 349 is named lano.
City number 350 is named cockburn town.
City number 351 is named rio bonito.
City number 352 is named cabo san lucas.
City number 353 is named santo augusto.
The data is incomplete for this city. Moving to next city...
City number 354 is named vega de alatorre.
City number 355 is named okha.
City number 356 is named kiama.
The data is incomplete for this city. Moving to next city...
City number 357 is named strezhevoy.
The data is incomplete for this city. Moving to next city...
City number 358 is named khilok.
City number 359 is named kangaatsiaq.
City number 360 is named bilma.
City number 361 is named talnakh.
City number 362 is named samoded.
City number 363 is named valdivia.
City number 364 is named fallon.
City number 365 is named haicheng.
City number 366 is named fort nelson.
City number 367 is named jieshi.
City number 368 is named sambava.
City number 369 is named hoogeveen.
City number 370 is named hit.
City number 371 is named mount isa.
City number 372 is named rumford.
City number 373 is named north bend.
The data is incomplete for this city. Moving to next city...
City number 374 is named valparaiso.
City number 375 is named sungaipenuh.
City number 376 is named kattivakkam.
City number 377 is named itarema.
City number 378 is named chumikan.
City number 379 is named kirksville.
City number 380 is named puerto lopez.
City number 381 is named jurm.
City number 382 is named escada.
City number 383 is named marsa matruh.
City number 384 is named kahului.
City number 385 is named velingara.
City number 386 is named micheweni.
City number 387 is named naze.
City number 388 is named sakakah.
City number 389 is named goure.
City number 390 is named luanda.
City number 391 is named khani.
City number 392 is named chabahar.
City number 393 is named chanderi.
City number 394 is named ribeira grande.
City number 395 is named sretensk.
City number 396 is named vostok.
The data is incomplete for this city. Moving to next city...
City number 397 is named quatre cocos.
The data is incomplete for this city. Moving to next city...

City number 398 is named tezpur.
City number 399 is named huarmey.
City number 400 is named lavrentiya.
City number 401 is named ramhormoz.
City number 402 is named ostrovnoy.
City number 403 is named surgut.
City number 404 is named mason city.
City number 405 is named sabang.
City number 406 is named leticia.
City number 407 is named batticaloa.
City number 408 is named boa vista.
City number 409 is named guangyuan.
City number 410 is named mangai.
City number 411 is named tongliao.
City number 412 is named namibe.
City number 413 is named talas.
City number 414 is named ambulu.
The data is incomplete for this city. Moving to next city...
City number 415 is named teguldet.
City number 416 is named yingcheng.
City number 417 is named westport.
City number 418 is named bonavista.
The data is incomplete for this city. Moving to next city...
City number 419 is named trairi.
City number 420 is named lewistown.
City number 421 is named orlik.
City number 422 is named plouzane.
City number 423 is named san cristobal.
City number 424 is named tecpan.
City number 425 is named nuuk.
The data is incomplete for this city. Moving to next city...
City number 426 is named saint-denis.
City number 427 is named vardo.
The data is incomplete for this city. Moving to next city...
City number 428 is named piacabucu.
City number 429 is named pacifica.
City number 430 is named karaton.
City number 431 is named skibbereen.
City number 432 is named cravo norte.
City number 433 is named vilhena.
City number 434 is named saint-augustin.
City number 435 is named sistranda.
City number 436 is named college.
City number 437 is named mopipi.
City number 438 is named raudeberg.
City number 439 is named huadian.
City number 440 is named la paz.
City number 441 is named puerto leguizamo.
City number 442 is named nirmali.
City number 443 is named santarem.
City number 444 is named ati.
City number 445 is named saint george.
City number 446 is named muromtsevo.
City number 447 is named purgstall.
City number 448 is named neyshabur.
City number 449 is named vohma.
City number 450 is named arica.
City number 451 is named sisimiut.
City number 452 is named mount gambier.
City number 453 is named bay city.
City number 454 is named male.
The data is incomplete for this city. Moving to next city...
City number 455 is named puente nacional.
City number 456 is named narragansett.
City number 457 is named gilgit.
City number 458 is named hilton head island.
City number 459 is named koutiala.
City number 460 is named komsomolskiy.
City number 461 is named la ronge.
City number 462 is named buraydah.
City number 463 is named dulovo.
The data is incomplete for this city. Moving to next city...
City number 464 is named svetlogorsk.
City number 465 is named beatrice.
City number 466 is named kibala.
City number 467 is named port lincoln.
City number 468 is named cotonou.
City number 469 is named maracacume.
City number 470 is named devonport.
City number 471 is named kavaratti.
City number 472 is named kuldur.
City number 473 is named cap-aux-meules.
City number 474 is named miraflores.
The data is incomplete for this city. Moving to next city...
City number 475 is named ulaangom.
City number 476 is named podgornoye.
City number 477 is named misratah.
City number 478 is named changuinola.
City number 479 is named kudahuvadhoo.
City number 480 is named beloha.
City number 481 is named rudbar.
City number 482 is named batken.
City number 483 is named nouadhibou.
City number 484 is named muncie.
City number 485 is named tommot.
City number 486 is named ambilobe.
City number 487 is named umm lajj.
The data is incomplete for this city. Moving to next city...
City number 488 is named port augusta.
City number 489 is named svetlyy.
City number 490 is named ulladulla.
City number 491 is named banda aceh.
City number 492 is named tambacounda.
City number 493 is named punta alta.
City number 494 is named ixtapa.
City number 495 is named naples.
City number 496 is named otjiwarongo.
City number 497 is named yarensk.
City number 498 is named gao.
City number 499 is named fare.
City number 500 is named siwana.
City number 501 is named rantepao.
City number 502 is named qarchi gak.
City number 503 is named soma.
City number 504 is named baherden.
City number 505 is named porto novo.
City number 506 is named pandan.
City number 507 is named zhenlai.
The data is incomplete for this city. Moving to next city...
City number 508 is named patacamaya.
City number 509 is named rio gallegos.
City number 510 is named mae sai.
City number 511 is named chardara.
City number 512 is named zhuanghe.
City number 513 is named los negros.
The data is incomplete for this city. Moving to next city...
City number 514 is named vilyuysk.
City number 515 is named lapeer.
City number 516 is named manjacaze.
City number 517 is named preobrazheniye.
City number 518 is named conroe.
City number 519 is named sur.
The data is incomplete for this city. Moving to next city...
City number 520 is named port hardy.
City number 521 is named dwarka.
City number 522 is named buenos aires.
The data is incomplete for this city. Moving to next city...
City number 523 is named muzhi.
City number 524 is named moose jaw.
City number 525 is named vila velha.
The data is incomplete for this city. Moving to next city...
City number 526 is named urumqi.
City number 527 is named vieques.
City number 528 is named stykkisholmur.
City number 529 is named sal rei.
City number 530 is named banepa.
City number 531 is named aljezur.
City number 532 is named qaqortoq.

### Convert Raw Data to DataFrame
* Export the city data into a .csv.
* Display the DataFrame

In [10]:
# Display data in a data frame
cityweather_df = pd.DataFrame({"City" : city_list, "Cloudiness" : cloudiness_list,
                          "Country" : country_list, "Date" : date_list,
                          "Humidity" : humidity_list, "Latitude" : latitude_list, 
                          "Longitude" : longitude_list, "Max Temperature" : maxtemperature_list, 
                          "Wind Speed" : windspeed_list})

# Convert 'Date' column to display in readable format
cityweather_df['Date'] = pd.to_datetime(cityweather_df['Date'], unit = 's')

cityweather_df

,City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Max Temperature,Wind Speed
0,Jamestown,100,US,2022-02-11 05:00:42,51,42.0970,-79.2353,29.84,10.36
1,Sechura,100,PE,2022-02-11 05:00:44,68,-5.5569,-80.8222,73.58,7.81
2,Marsh Harbour,71,BS,2022-02-11 04:53:42,79,26.5412,-77.0636,72.64,12.15
3,Saint Paul Harbor,100,US,2022-02-11 05:00:46,80,57.7900,-152.4072,35.11,29.93
4,Katsuura,85,JP,2022-02-11 05:00:48,57,35.1333,140.3000,46.51,15.26
...,...,...,...,...,...,...,...,...,...
527,Stykkisholmur,86,IS,2022-02-11 05:04:31,86,65.0757,-22.7297,25.63,4.09
528,Sal Rei,98,CV,2022-02-11 05:04:32,74,16.1833,-22.9167,73.96,14.92
529,Banepā,4,NP,2022-02-11 05:04:32,55,27.6298,85.5214,54.07,4.34
530,Aljezur,77,PT,2022-02-11 04:58:27,60,37.3191,-8.8033,53.44,4.72
531,Qaqortoq,95,GL,2022-02-11 05:04:33,65,60.7167,-46.0333,19.90,6.40

In [17]:
# Export to CSV file
cityweather_df.to_csv("Output/cityweather.csv", index = False, header = True)

## Inspect the data and remove the cities where the humidity > 100%.
----
Skip this step if there are no cities that have humidity > 100%.

In [4]:
#  Get the indices of cities that have humidity over 100%.

In [5]:
# Make a new DataFrame equal to the city data to drop all humidity outliers by index.
# Passing "inplace=False" will make a copy of the city_data DataFrame, which we call "clean_city_data".

## Plotting the Data
* Use proper labeling of the plots using plot titles (including date of analysis) and axes labels.
* Save the plotted figures as .pngs.

## Latitude vs. Temperature Plot

## Latitude vs. Humidity Plot

## Latitude vs. Cloudiness Plot

## Latitude vs. Wind Speed Plot

## Linear Regression

####  Northern Hemisphere - Max Temp vs. Latitude Linear Regression

####  Southern Hemisphere - Max Temp vs. Latitude Linear Regression

####  Northern Hemisphere - Humidity (%) vs. Latitude Linear Regression

####  Southern Hemisphere - Humidity (%) vs. Latitude Linear Regression

####  Northern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

####  Southern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

####  Northern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression

####  Southern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression