# WeatherPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import json
from scipy.stats import linregress

# Import API key
from config import api_key

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
output_data_file = "output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

## Generate Cities List

In [2]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []

# Create a set of random lat and lng combinations
lats = np.random.uniform(lat_range[0], lat_range[1], size=1500)
lngs = np.random.uniform(lng_range[0], lng_range[1], size=1500)
lat_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)

# Print the city count to confirm sufficient count
len(cities)

603

### Perform API Calls
* Perform a weather check on each city using a series of successive API calls.
* Include a print log of each city as it'sbeing processed (with the city number and city name).

In [3]:
# Set variables for base url and units
url = "http://api.openweathermap.org/data/2.5/weather?"
units = "imperial"

# Setup URL query using the base url, api key, and units
query_url = f"{url}appid={api_key}&units={units}&q="

# Create lists to hold relevant data
city_list = []
cloudiness_list = []
country_list = []
date_list = []
humidity_list = []
latitude_list = []
longitude_list = []
maxtemperature_list = []
windspeed_list = []

# City counter for loop
citycounter = 0

# Header of print log
print("Retrieving data...")
print("------------------")

# Loop through list of cities
for eachcity in cities:
    
    # Perform a get request for each city and store json response in a variable
    jsonresponse = requests.get(query_url + eachcity).json()
    
    # Handle errors for cities with missing data
    try:
        
        # Retrieve specific data and append to relevant list
        # City
        city = jsonresponse['name']
        city_list.append(city)
        # Cloudiness
        cloudiness = jsonresponse['clouds']['all']
        cloudiness_list.append(cloudiness)
        # Country
        country = jsonresponse['sys']['country']
        country_list.append(country)
        # Data
        date = jsonresponse["dt"]
        date_list.append(date)
        # Humidity
        humidity = jsonresponse['main']['humidity']
        humidity_list.append(humidity)
        # Latitude
        latitude = jsonresponse['coord']['lat']
        latitude_list.append(latitude)
        # Longitude
        longitude = jsonresponse['coord']['lon']
        longitude_list.append(longitude)
        # Max temperature
        maxtemperature = jsonresponse['main']['temp_max']
        maxtemperature_list.append(maxtemperature)
        # Wind speed
        windspeed = jsonresponse['wind']['speed']
        windspeed_list.append(windspeed)
        
        # Track city count
        citycounter = citycounter + 1
        
        # Print log of each city
        print(f"City number {citycounter} is named {eachcity}.")
    
    except:
        # If the city is missing data, print different log and move to next city
        print('The data is incomplete for this city. Moving to next city...')
        pass

# Footer of print log
print("----------------------------")
print("City data retrieval complete")

Retrieving data...
------------------
City number 1 is named rikitea.
City number 2 is named faanui.
City number 3 is named bredasdorp.
City number 4 is named luderitz.
City number 5 is named avarua.
City number 6 is named puerto ayora.
City number 7 is named new norfolk.
City number 8 is named afua.
City number 9 is named adrar.
City number 10 is named tiksi.
City number 11 is named ushuaia.
City number 12 is named karratha.
City number 13 is named luanda.
City number 14 is named leku.
City number 15 is named saskylakh.
City number 16 is named hermanus.
City number 17 is named georgetown.
City number 18 is named lebu.
City number 19 is named khatanga.
The data is incomplete for this city. Moving to next city...
City number 20 is named clyde river.
City number 21 is named kapaa.
City number 22 is named severo-kurilsk.
City number 23 is named vaini.
City number 24 is named lorengau.
City number 25 is named airai.
The data is incomplete for this city. Moving to next city...
City number 26 is named kozulka.
City number 27 is named garden city.
City number 28 is named mananjary.
City number 29 is named garowe.
City number 30 is named norman wells.
City number 31 is named olafsvik.
The data is incomplete for this city. Moving to next city...
City number 32 is named aripuana.
City number 33 is named busselton.
The data is incomplete for this city. Moving to next city...
City number 34 is named kaitangata.
City number 35 is named barrow.
City number 36 is named jamestown.
City number 37 is named tuktoyaktuk.
City number 38 is named tuatapere.
City number 39 is named kutum.
City number 40 is named nelson bay.
City number 41 is named carnarvon.
City number 42 is named ribeira grande.
City number 43 is named bluff.
City number 44 is named kannad.
City number 45 is named port elizabeth.
City number 46 is named mahebourg.
City number 47 is named kamenka.
City number 48 is named nikolskoye.
City number 49 is named torbay.
City number 50 is named albany.
City number 51 is named ucluelet.
City number 52 is named husavik.
City number 53 is named mataura.
City number 54 is named tasiilaq.
City number 55 is named cape town.
City number 56 is named touros.
City number 57 is named saint anthony.
City number 58 is named portland.
City number 59 is named hobart.
City number 60 is named arraial do cabo.
City number 61 is named vostok.
City number 62 is named road town.
The data is incomplete for this city. Moving to next city...
City number 63 is named szank.
City number 64 is named lompoc.
City number 65 is named broadford.
City number 66 is named yellowknife.
City number 67 is named lerwick.
City number 68 is named evensk.
City number 69 is named tromso.
City number 70 is named kochevo.
City number 71 is named hithadhoo.
City number 72 is named abu samrah.
City number 73 is named guerrero negro.
City number 74 is named haines junction.
City number 75 is named esperance.
City number 76 is named college.
The data is incomplete for this city. Moving to next city...
City number 77 is named havre-saint-pierre.
City number 78 is named acapulco.
City number 79 is named nemuro.
City number 80 is named atuona.
City number 81 is named takoradi.
City number 82 is named riyadh.
City number 83 is named qaanaaq.
City number 84 is named ponta do sol.
City number 85 is named pacific grove.
The data is incomplete for this city. Moving to next city...
City number 86 is named hilo.
City number 87 is named kabanjahe.
City number 88 is named castro.
City number 89 is named kieta.
City number 90 is named liverpool.
City number 91 is named tarakan.
City number 92 is named punta arenas.
City number 93 is named piacabucu.
City number 94 is named vangaindrano.
City number 95 is named channel-port aux basques.
City number 96 is named jalu.
City number 97 is named vestmannaeyjar.
City number 98 is named donskoye.
City number 99 is named korla.
City number 100 is named abu dhabi.
City number 101 is named jawar.
City number 102 is named pevek.
City number 103 is named cabedelo.
City number 104 is named sokoni.
City number 105 is named okato.
City number 106 is named constitucion.
City number 107 is named mar del plata.
City number 108 is named leningradskiy.
City number 109 is named faratsiho.
City number 110 is named el vigia.
City number 111 is named kavaratti.
City number 112 is named port alfred.
City number 113 is named khandyga.
City number 114 is named grindavik.
The data is incomplete for this city. Moving to next city...
City number 115 is named vila velha.
The data is incomplete for this city. Moving to next city...
City number 116 is named talnakh.
City number 117 is named fortuna.
City number 118 is named bengkulu.
City number 119 is named tiznit.
City number 120 is named khabary.
City number 121 is named naron.
City number 122 is named turiacu.
City number 123 is named dikson.
City number 124 is named saint george.
City number 125 is named gweta.
City number 126 is named turan.
City number 127 is named ahipara.
City number 128 is named lundazi.
City number 129 is named kidal.
City number 130 is named codrington.
City number 131 is named chokurdakh.
City number 132 is named njombe.
City number 133 is named martapura.
The data is incomplete for this city. Moving to next city...
City number 134 is named bethel.
The data is incomplete for this city. Moving to next city...
City number 135 is named morant bay.
City number 136 is named dehloran.
City number 137 is named kharan.
City number 138 is named sur.
City number 139 is named san lazaro.
City number 140 is named lendinara.
The data is incomplete for this city. Moving to next city...
City number 141 is named mount gambier.
City number 142 is named urumqi.
City number 143 is named kalmar.
City number 144 is named mehamn.
City number 145 is named cam ranh.
City number 146 is named yar-sale.
City number 147 is named tuy hoa.
City number 148 is named kovdor.
City number 149 is named chai nat.
The data is incomplete for this city. Moving to next city...
City number 150 is named bandarbeyla.
City number 151 is named upernavik.
City number 152 is named cap malheureux.
City number 153 is named thompson.
City number 154 is named satis.
City number 155 is named oda.
City number 156 is named jinxi.
City number 157 is named mandiana.
City number 158 is named victoria.
The data is incomplete for this city. Moving to next city...
City number 159 is named namatanai.
City number 160 is named westport.
City number 161 is named uttaradit.
City number 162 is named kondinskoye.
City number 163 is named dongli.
City number 164 is named souillac.
City number 165 is named caxito.
The data is incomplete for this city. Moving to next city...
City number 166 is named adelanto.
City number 167 is named vao.
City number 168 is named doha.
City number 169 is named chifeng.
City number 170 is named ancud.
City number 171 is named east london.
City number 172 is named tabuk.
City number 173 is named bicester.
City number 174 is named kruisfontein.
City number 175 is named faya.
City number 176 is named tatishchevo.
City number 177 is named caconda.
City number 178 is named marawi.
The data is incomplete for this city. Moving to next city...
City number 179 is named santa fe.
City number 180 is named eureka.
City number 181 is named rockland.
City number 182 is named khakhea.
City number 183 is named roebourne.
City number 184 is named camacha.
City number 185 is named waddan.
The data is incomplete for this city. Moving to next city...
City number 186 is named caravelas.
City number 187 is named petauke.
City number 188 is named san quintin.
City number 189 is named nara.
City number 190 is named arlit.
City number 191 is named jiuquan.
City number 192 is named aklavik.
City number 193 is named carballo.
City number 194 is named arman.
City number 195 is named buraydah.
City number 196 is named boa vista.
City number 197 is named ilulissat.
City number 198 is named moulins.
City number 199 is named port blair.
City number 200 is named half moon bay.
City number 201 is named crotone.
City number 202 is named banjar.
City number 203 is named lavrentiya.
City number 204 is named grenada.
City number 205 is named karasburg.
City number 206 is named besikduzu.
The data is incomplete for this city. Moving to next city...

City number 207 is named bom jesus do galho.
The data is incomplete for this city. Moving to next city...
City number 208 is named kodiak.
City number 209 is named kattivakkam.
City number 210 is named san felipe.
City number 211 is named port hedland.
City number 212 is named tim.
City number 213 is named ikalamavony.
City number 214 is named yulara.
City number 215 is named manta.
City number 216 is named hambantota.
City number 217 is named malayal.
City number 218 is named high level.
City number 219 is named grand gaube.
City number 220 is named aykhal.
City number 221 is named adet.
City number 222 is named biella.
The data is incomplete for this city. Moving to next city...
City number 223 is named cayenne.
City number 224 is named moron.
City number 225 is named jensen beach.
City number 226 is named los llanos de aridane.
City number 227 is named amahai.
City number 228 is named elk city.
City number 229 is named hit.
City number 230 is named mabaruma.
City number 231 is named narsaq.
City number 232 is named iquique.
City number 233 is named sao filipe.
City number 234 is named butaritari.
City number 235 is named rawson.
City number 236 is named cidreira.
City number 237 is named tamandare.
City number 238 is named seredka.
City number 239 is named praya.
City number 240 is named mosquera.
City number 241 is named paraiso.
City number 242 is named tazovskiy.
City number 243 is named mae sai.
City number 244 is named havelock.
City number 245 is named rosetta.
City number 246 is named yinchuan.
City number 247 is named cherskiy.
City number 248 is named chuy.
City number 249 is named kabalo.
The data is incomplete for this city. Moving to next city...
City number 250 is named novoagansk.
City number 251 is named barabai.
City number 252 is named dunedin.
City number 253 is named saint marys.
City number 254 is named wad rawah.
City number 255 is named tomigusuku.
City number 256 is named bend.
City number 257 is named zhigansk.
City number 258 is named mangaratiba.
The data is incomplete for this city. Moving to next city...
City number 259 is named bonfim.
City number 260 is named rabo de peixe.
City number 261 is named taoudenni.
City number 262 is named port hardy.
City number 263 is named labuhan.
City number 264 is named natchitoches.
City number 265 is named rongcheng.
City number 266 is named coahuayana.
City number 267 is named vanavara.
City number 268 is named poum.
City number 269 is named kapoeta.
City number 270 is named geraldton.
City number 271 is named bambous virieux.
City number 272 is named sitka.
City number 273 is named bajil.
City number 274 is named dalbandin.
City number 275 is named serebryansk.
City number 276 is named flinders.
City number 277 is named antsohihy.
City number 278 is named ekhabi.
City number 279 is named barao de melgaco.
City number 280 is named saint-felicien.
City number 281 is named pingliang.
City number 282 is named bilibino.
City number 283 is named pascagoula.
City number 284 is named kabompo.
City number 285 is named bay roberts.
City number 286 is named brae.
City number 287 is named saldanha.
City number 288 is named isangel.
The data is incomplete for this city. Moving to next city...
The data is incomplete for this city. Moving to next city...
City number 289 is named kiunga.
The data is incomplete for this city. Moving to next city...
City number 290 is named la ronge.
City number 291 is named mogadishu.
City number 292 is named nipawin.
City number 293 is named carutapera.
The data is incomplete for this city. Moving to next city...
City number 294 is named erzin.
City number 295 is named bambanglipuro.
City number 296 is named ponta delgada.
City number 297 is named porto novo.
City number 298 is named longyearbyen.
City number 299 is named dicabisagan.
City number 300 is named viransehir.
City number 301 is named vardo.
City number 302 is named skoghall.
City number 303 is named ostrovnoy.
City number 304 is named kedrovyy.
City number 305 is named bathsheba.
City number 306 is named bonaventure.
City number 307 is named sao felix do xingu.
City number 308 is named laguna.
City number 309 is named seoul.
City number 310 is named ambunti.
City number 311 is named megion.
City number 312 is named molo.
City number 313 is named mzimba.
City number 314 is named hervey bay.
City number 315 is named harper.
The data is incomplete for this city. Moving to next city...
City number 316 is named komsomolskiy.
City number 317 is named general pico.
City number 318 is named andenes.
The data is incomplete for this city. Moving to next city...
City number 319 is named hasaki.
City number 320 is named kashmor.
City number 321 is named makanya.
City number 322 is named dakar.
City number 323 is named coquimbo.
City number 324 is named santiago de cao.
City number 325 is named jining.
City number 326 is named lata.
City number 327 is named krasnyy yar.
City number 328 is named mildura.
The data is incomplete for this city. Moving to next city...
The data is incomplete for this city. Moving to next city...
The data is incomplete for this city. Moving to next city...
City number 329 is named correntina.
City number 330 is named ostersund.
City number 331 is named gurupi.
City number 332 is named nyagan.
City number 333 is named vanimo.
City number 334 is named namibe.
City number 335 is named jumla.
City number 336 is named itoman.
City number 337 is named vila franca do campo.
City number 338 is named palmer.
City number 339 is named san patricio.
City number 340 is named plettenberg bay.
City number 341 is named atar.
City number 342 is named comarapa.
City number 343 is named divnomorskoye.
City number 344 is named muyezerskiy.
City number 345 is named mto wa mbu.
City number 346 is named sol-iletsk.
City number 347 is named lodwar.
City number 348 is named kumano.
City number 349 is named key largo.
The data is incomplete for this city. Moving to next city...
City number 350 is named bubaque.
City number 351 is named bursa.
City number 352 is named moose factory.
City number 353 is named santa maria.
The data is incomplete for this city. Moving to next city...
City number 354 is named novyy yarychiv.
City number 355 is named touho.
City number 356 is named sao joao da barra.
City number 357 is named provideniya.
City number 358 is named rockport.
City number 359 is named linqiong.
City number 360 is named ambulu.
City number 361 is named parfino.
City number 362 is named nanakuli.
City number 363 is named kargil.
City number 364 is named iqaluit.
City number 365 is named la libertad.
City number 366 is named inuvik.
City number 367 is named nakhon si thammarat.
City number 368 is named margate.
City number 369 is named anadyr.
The data is incomplete for this city. Moving to next city...
City number 370 is named kambia.
The data is incomplete for this city. Moving to next city...
City number 371 is named snasa.
City number 372 is named ambanja.
City number 373 is named makakilo city.
City number 374 is named zhezkazgan.
City number 375 is named aksu.
City number 376 is named salinopolis.
City number 377 is named ann arbor.
The data is incomplete for this city. Moving to next city...
City number 378 is named karlstad.
City number 379 is named port macquarie.
City number 380 is named kavieng.
City number 381 is named deputatskiy.
City number 382 is named pine bluff.
City number 383 is named linjiang.
City number 384 is named benguela.
City number 385 is named sisimiut.
City number 386 is named arcata.
The data is incomplete for this city. Moving to next city...
City number 387 is named yarmouth.
City number 388 is named xihe.
City number 389 is named arica.
City number 390 is named banda aceh.
City number 391 is named tarskoye.
City number 392 is named wenzhou.
City number 393 is named saint-pierre.
City number 394 is named prince rupert.
City number 395 is named teya.
City number 396 is named aasiaat.
The data is incomplete for this city. Moving to next city...
City number 397 is named kununurra.
City number 398 is named sassandra.
City number 399 is named simeykyne.
City number 400 is named avera.
City number 401 is named kirensk.
City number 402 is named rantepao.
City number 403 is named nome.

City number 404 is named kungurtug.
City number 405 is named baglung.
City number 406 is named bahir dar.
City number 407 is named kalmunai.
City number 408 is named abnub.
City number 409 is named ozernovskiy.
City number 410 is named saint-philippe.
City number 411 is named vaitape.
City number 412 is named belyy yar.
City number 413 is named beauraing.
The data is incomplete for this city. Moving to next city...
City number 414 is named el carmen.
The data is incomplete for this city. Moving to next city...
City number 415 is named sawakin.
City number 416 is named cartagena.
City number 417 is named petrivka.
City number 418 is named kahului.
City number 419 is named hoi an.
City number 420 is named new albany.
City number 421 is named ko samui.
City number 422 is named bontang.
City number 423 is named hirado.
City number 424 is named khartoum.
City number 425 is named januaria.
City number 426 is named verkhnetulomskiy.
City number 427 is named fort nelson.
City number 428 is named manono.
City number 429 is named halifax.
City number 430 is named saint-denis.
City number 431 is named kasongo-lunda.
City number 432 is named henties bay.
City number 433 is named rtishchevo.
The data is incomplete for this city. Moving to next city...
City number 434 is named nanortalik.
City number 435 is named paamiut.
City number 436 is named cabo san lucas.
City number 437 is named necochea.
City number 438 is named manicore.
City number 439 is named bitkine.
City number 440 is named kuala terengganu.
City number 441 is named surgut.
City number 442 is named la rioja.
City number 443 is named yerbogachen.
City number 444 is named lingao.
City number 445 is named ayagoz.
City number 446 is named port lincoln.
City number 447 is named moba.
City number 448 is named lakes entrance.
City number 449 is named witbank.
City number 450 is named kurilsk.
City number 451 is named wonosobo.
City number 452 is named kemijarvi.
City number 453 is named makurdi.
City number 454 is named wadi maliz.
City number 455 is named sobolevo.
City number 456 is named kargopol.
City number 457 is named muscat.
City number 458 is named adre.
City number 459 is named atlantic city.
City number 460 is named lufilufi.
City number 461 is named rocha.
City number 462 is named bilma.
City number 463 is named weston.
City number 464 is named marsh harbour.
City number 465 is named asau.
City number 466 is named kisangani.
City number 467 is named banjarmasin.
The data is incomplete for this city. Moving to next city...
City number 468 is named araouane.
City number 469 is named aksarka.
City number 470 is named mahina.
City number 471 is named sambava.
City number 472 is named nizwa.
City number 473 is named iranshahr.
City number 474 is named iturama.
City number 475 is named pedernales.
City number 476 is named mae sot.
The data is incomplete for this city. Moving to next city...
City number 477 is named williamsburg.
City number 478 is named hakkari.
City number 479 is named lagoa.
The data is incomplete for this city. Moving to next city...
City number 480 is named chopovychi.
City number 481 is named general roca.
City number 482 is named beibei.
City number 483 is named west bay.
City number 484 is named save.
City number 485 is named alyangula.
City number 486 is named rorvik.
City number 487 is named dzerzhinsk.
City number 488 is named kayerkan.
City number 489 is named ukiah.
City number 490 is named alice springs.
City number 491 is named beloha.
City number 492 is named savannah bight.
City number 493 is named pisco.
City number 494 is named nador.
City number 495 is named nhulunbuy.
City number 496 is named shingu.
City number 497 is named port-gentil.
City number 498 is named smolenka.
City number 499 is named marsa matruh.
City number 500 is named awbari.
City number 501 is named lampang.
City number 502 is named te anau.
City number 503 is named dandong.
City number 504 is named itaituba.
City number 505 is named wukari.
City number 506 is named emerald.
City number 507 is named iquitos.
City number 508 is named kaeo.
City number 509 is named pocatello.
City number 510 is named ankara.
The data is incomplete for this city. Moving to next city...
City number 511 is named saveh.
City number 512 is named morwa.
City number 513 is named novaya ladoga.
City number 514 is named flin flon.
The data is incomplete for this city. Moving to next city...
City number 515 is named wanaka.
City number 516 is named tucupita.
City number 517 is named kapra.
City number 518 is named anamur.
City number 519 is named kichera.
City number 520 is named freeport.
City number 521 is named nsanje.
City number 522 is named jalingo.
The data is incomplete for this city. Moving to next city...
City number 523 is named buenos aires.
City number 524 is named bayir.
City number 525 is named salalah.
City number 526 is named balykshi.
City number 527 is named sao jose do rio preto.
City number 528 is named key west.
City number 529 is named juigalpa.
City number 530 is named ullapool.
City number 531 is named lanipao.
City number 532 is named novyy urgal.
City number 533 is named nouadhibou.
City number 534 is named tabas.
City number 535 is named dingle.
City number 536 is named puri.
City number 537 is named gat.
City number 538 is named ahuimanu.
City number 539 is named deep river.
City number 540 is named talcahuano.
City number 541 is named saurimo.
City number 542 is named chateaubelair.
City number 543 is named barmer.
City number 544 is named north bend.
City number 545 is named san cristobal.
City number 546 is named dudinka.
City number 547 is named san angelo.
City number 548 is named hofn.
City number 549 is named sindgi.
City number 550 is named naze.
City number 551 is named port moresby.
City number 552 is named beringovskiy.
City number 553 is named nizhnyaya tavda.
City number 554 is named rafsanjan.
City number 555 is named ihosy.
City number 556 is named hay river.
----------------------------
City data retrieval complete

### Convert Raw Data to DataFrame
* Export the city data into a .csv.
* Display the DataFrame

In [4]:
# Display data in a data frame
cityweather_df = pd.DataFrame({"City" : city_list, "Cloudiness" : cloudiness_list,
                          "Country" : country_list, "Date" : date_list,
                          "Humidity" : humidity_list, "Latitude" : latitude_list, 
                          "Longitude" : longitude_list, "Max Temperature" : maxtemperature_list, 
                          "Wind Speed" : windspeed_list})

# Convert 'Date' column to display in readable format
cityweather_df['Date'] = pd.to_datetime(cityweather_df['Date'], unit = 's')

cityweather_df

,City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Max Temperature,Wind Speed
0,Rikitea,43,PF,2022-02-11 05:56:48,74,-23.1203,-134.9692,79.25,15.99
1,Faanui,29,PF,2022-02-11 06:01:32,72,-16.4833,-151.7500,81.63,13.73
2,Bredasdorp,0,ZA,2022-02-11 06:01:32,62,-34.5322,20.0403,62.28,3.11
3,Lüderitz,48,NA,2022-02-11 06:01:33,73,-26.6481,15.1594,68.56,3.15
4,Avarua,14,CK,2022-02-11 06:01:33,83,-21.2078,-159.7750,78.85,9.22
...,...,...,...,...,...,...,...,...,...
551,Beringovskiy,28,RU,2022-02-11 06:05:32,96,63.0500,179.3167,-26.36,8.21
552,Nizhnyaya Tavda,39,RU,2022-02-11 06:05:33,81,57.6731,66.1725,0.57,11.43
553,Rafsanjān,0,IR,2022-02-11 06:05:33,14,30.4067,55.9939,56.70,2.95
554,Ihosy,79,MG,2022-02-11 06:03:35,75,-22.4000,46.1167,74.10,5.50
555,Hay River,100,CA,2022-02-11 06:00:39,98,60.8156,-115.7999,-2.49,8.43

In [5]:
# Export to CSV file
cityweather_df.to_csv("Output/cityweather.csv", index = False, header = True)

## Inspect the data and remove the cities where the humidity > 100%.
----
Skip this step if there are no cities that have humidity > 100%.

In [16]:
# https://thispointer.com/python-pandas-how-to-drop-rows-in-dataframe-by-conditions-on-column-values/

# Get the indices of cities that have humidity over 100%.
humidityindex = cityweather_df[cityweather_df['Humidity'] > 100 ].index

# Make a new DataFrame equal to the city data to drop all humidity outliers by index.
# Passing "inplace=False" will make a copy of the city_data DataFrame, which we call "clean_city_data".
clean_city_data = cityweather_df.drop(humidityindex, inplace = False)

# Same number of rows indicates that zero cities had a humidity > 100
clean_city_data

,City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Max Temperature,Wind Speed
0,Rikitea,43,PF,2022-02-11 05:56:48,74,-23.1203,-134.9692,79.25,15.99
1,Faanui,29,PF,2022-02-11 06:01:32,72,-16.4833,-151.7500,81.63,13.73
2,Bredasdorp,0,ZA,2022-02-11 06:01:32,62,-34.5322,20.0403,62.28,3.11
3,Lüderitz,48,NA,2022-02-11 06:01:33,73,-26.6481,15.1594,68.56,3.15
4,Avarua,14,CK,2022-02-11 06:01:33,83,-21.2078,-159.7750,78.85,9.22
...,...,...,...,...,...,...,...,...,...
551,Beringovskiy,28,RU,2022-02-11 06:05:32,96,63.0500,179.3167,-26.36,8.21
552,Nizhnyaya Tavda,39,RU,2022-02-11 06:05:33,81,57.6731,66.1725,0.57,11.43
553,Rafsanjān,0,IR,2022-02-11 06:05:33,14,30.4067,55.9939,56.70,2.95
554,Ihosy,79,MG,2022-02-11 06:03:35,75,-22.4000,46.1167,74.10,5.50
555,Hay River,100,CA,2022-02-11 06:00:39,98,60.8156,-115.7999,-2.49,8.43

## Plotting the Data
* Use proper labeling of the plots using plot titles (including date of analysis) and axes labels.
* Save the plotted figures as .pngs.

## Latitude vs. Temperature Plot

## Latitude vs. Humidity Plot

## Latitude vs. Cloudiness Plot

## Latitude vs. Wind Speed Plot

## Linear Regression

####  Northern Hemisphere - Max Temp vs. Latitude Linear Regression

####  Southern Hemisphere - Max Temp vs. Latitude Linear Regression

####  Northern Hemisphere - Humidity (%) vs. Latitude Linear Regression

####  Southern Hemisphere - Humidity (%) vs. Latitude Linear Regression

####  Northern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

####  Southern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

####  Northern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression

####  Southern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression